﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

    input:focus {
        outline: none !important;
        box-shadow: none !important;
    }

ul {
    list-style: none;
    padding: 0 0 0 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

    ul li {
        position: relative;
        padding: 5px 15px;
    }

        ul li:hover {
            background: #D6DADE;
            cursor: pointer;
        }

.add-user-name {
    display: inline-block;
    margin: 0 0 0 15px;
}

.user-container {
    position: relative;
}

    .user-container input {
        width: 100%;
        max-width: 100%;
    }

.match-user-names {
    width: 100%;
    position: absolute;
    border: 1px solid #D6DADE;
    border-radius: 0 0 2px 2px;
    background-color: #FFFFFF;
    border-top: 0;
    z-index: 5;
    padding: 0 0 0 0;
}
