﻿@model ASP.MVC.React.Control.Models.ViewModel.GetUserComponentModel

<script src='@Url.Content("~/Scripts/app.jsx")'></script>

<script type="text/babel">
    ReactDOM.render(
    <div className="form-group">
        <div class="row">
            <div className="col-md-6">
                <ItemsList config="@Model.Config" users="@Model.Users" />
            </div>
            <div className="col-md-6">
                <AddUser />
            </div>
        </div>
    </div>,
    document.getElementById("content")
    );
</script>
