﻿@model ASP.MVC.React.Control.Models.ViewModel.GetUserComponentModel
@{
    ViewBag.Title = "Home Page";
}

@section ReactScripts{
    <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.25.0/babel.min.js"></script>
}

@section Body{
    <div id="content">
        @Html.Partial("_ReactDropDown", Model)
    </div>
}

